body{
	background-color: #FFFFFF;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

.fullScreen{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

canvas{
	width: 100vw;
	height: 100vh;
	position: absolute;
}